In [4]:
import pandas as pd
dfstops = pd.read_table("https://raw.githubusercontent.com/cwkruppo/Coursera_Capstone/master/stops.txt", sep=',', header=0)
dfstops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id
0,1,95001,30TH ST. PHL.,NaN,39.956565,-75.182327,5961
1,2,95002,ABSECON,NaN,39.424333,-74.502094,333
2,3,95003,ALLENDALE,NaN,41.030902,-74.130957,2893
3,4,95004,ALLENHURST,NaN,40.237659,-74.006769,5453
4,5,95005,ANDERSON STREET,NaN,40.894458,-74.043781,1357

In [5]:
dfstops.columns

Index(['stop_id', 'stop_code', 'stop_name', 'stop_desc', 'stop_lat',
       'stop_lon', 'zone_id'],
      dtype='object')

In [6]:
dfstops.shape

(228, 7)

In [7]:
## Drop unwanted columns, reducing to a unique stope code, the stop name, and the stop's lat & long
dfstops.drop(['stop_id', 'stop_desc', 'zone_id'], axis=1, inplace=True)
dfstops.columns

Index(['stop_code', 'stop_name', 'stop_lat', 'stop_lon'], dtype='object')

In [8]:
dfstops.shape

(228, 4)

In [9]:
dfstops.head()

   stop_code        stop_name   stop_lat   stop_lon
0      95001    30TH ST. PHL.  39.956565 -75.182327
1      95002          ABSECON  39.424333 -74.502094
2      95003        ALLENDALE  41.030902 -74.130957
3      95004       ALLENHURST  40.237659 -74.006769
4      95005  ANDERSON STREET  40.894458 -74.043781

In [10]:
## Drop unwanted rows, cutting the light rail data, since our focus is on main railway stations only (and because light rail service doesn't operate in Morris County)
#identify partial string to look for
dfstops = dfstops[~dfstops['stop_name'].str.contains('LIGHT RAIL')]
dfstops.shape

(168, 4)

In [11]:
dfstops

     stop_code                           stop_name   stop_lat   stop_lon
0        95001                       30TH ST. PHL.  39.956565 -75.182327
1        95002                             ABSECON  39.424333 -74.502094
2        95003                           ALLENDALE  41.030902 -74.130957
3        95004                          ALLENHURST  40.237659 -74.006769
4        95005                     ANDERSON STREET  40.894458 -74.043781
..         ...                                 ...        ...        ...
213      30824                      BERGENLINE AVE  40.782225 -74.022271
221      95171                     MOUNT ARLINGTON  40.896590 -74.632731
222      95172  WAYNE/ROUTE 23 TRANSIT CENTER [RR]  40.900254 -74.256971
226      95183           PENNSAUKEN TRANSIT CENTER  39.977769 -75.061796
227      95184                             WESMONT  40.854979 -74.096951

[168 rows x 4 columns]

In [43]:
dfstops.to_csv (r'C:\Users\ggoul_000\Desktop\export_dataframe.csv', index = False) 
print('Done downloading.')

Done downloading.

In [47]:
pd.read_csv ('C:\\Users\ggoul_000\Desktop\export_dataframe.csv')

     stop_code                           stop_name   stop_lat   stop_lon
0        95001                       30TH ST. PHL.  39.956565 -75.182327
1        95002                             ABSECON  39.424333 -74.502094
2        95003                           ALLENDALE  41.030902 -74.130957
3        95004                          ALLENHURST  40.237659 -74.006769
4        95005                     ANDERSON STREET  40.894458 -74.043781
..         ...                                 ...        ...        ...
163      30824                      BERGENLINE AVE  40.782225 -74.022271
164      95171                     MOUNT ARLINGTON  40.896590 -74.632731
165      95172  WAYNE/ROUTE 23 TRANSIT CENTER [RR]  40.900254 -74.256971
166      95183           PENNSAUKEN TRANSIT CENTER  39.977769 -75.061796
167      95184                             WESMONT  40.854979 -74.096951

[168 rows x 4 columns]

In [33]:
## Lastly, we will extract only the train stations within Morris County, NJ as identified in the Wikipedia page.
## Since we have a short list of stations, we will create a dataframe for them.
## The alternative would be to find shapefile information for the county, and limit our station data only to points that fall within the parameters set by the map data.

In [4]:
## TESTING IMPORT CENSUS DATA AND MAPPING PACKAGES

! pip install census
! pip install us
! conda install -c plotly plotly-geo

import plotly.figure_factory as ff
import pandas as pd

print('Done installing.')

Collecting census
  Downloading census-0.8.17-py3-none-any.whl (10 kB)
Requirement already satisfied: requests>=1.1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from census) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=1.1.0->census) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=1.1.0->census) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=1.1.0->census) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=1.1.0->census) (3.0.4)
Installing collected packages: census
Successfully installed census-0.8.17
Collecting us
  Downloading us-2.0.2.tar.gz (14 kB)
Collecting jellyfish==0.6.1
  Downloading jellyfish-0.6.1.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 24.3 MB/s eta 0:00:01
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11927 sha256=56e6f25e82d66fc1b99dd2ba3b1a9cb4cd490248281941b4b7e909261cebec7c
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/ca/6b/11/cda9ea2438f721330a35c9a2c8e34b4aedcd34c89af48a4d00
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp37-cp37m-linux_x86_64.whl size=91388 sha256=d83ba2c8b1ecb78a2ec96782f552e86d93213e5c9a792a30f69969cd2cb25bdd
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/a1/99/51/7de469e37cd1b3c763c24394e1ebf1baa2d79e094bf346cf80
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: done
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python-3.7-main

  added / updated specs:
    - plotly-geo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ibm-wsrt-py37main-keep-0.0.0|             1823           2 KB
    ibm-wsrt-py37main-main-custom|             1823           2 KB
    openssl-1.1.1j             |       h27cfd23_0         2.5 MB
    plotly-4.14.3              |             py_0         5.9 MB  plotly
    plotly-geo-1.0.0           |             py_0        18.9 MB  plotly
    ------------------------------------------------------------
                                           Total:        27.3 MB

The following NEW packages will be INSTALLED:

  ibm-wsrt-py37main~ opt/ibm/build/channels/wscloud/noarch::ibm-wsrt-py37main-keep-0.0.0-1823
  plotly-geo         plotly/noarch::plotly-geo-1.0.0-py_0

The following packages will be UPDATED:

  openssl                                 1.1.1i-h27cfd23_0 --> 1.1.1j-h27cfd23_0
  plotly                       pkgs/main::plotly-4.8.2-py_0 --> plotly::plotly-4.14.3-py_0

The following packages will be DOWNGRADED:

  ibm-wsrt-py37main~                             0.0.0-1823 --> custom-1823



Downloading and Extracting Packages
plotly-geo-1.0.0     | 18.9 MB   | ##################################### | 100%
ibm-wsrt-py37main-ke | 2 KB      | ##################################### | 100%
plotly-4.14.3        | 5.9 MB    | ##################################### | 100%
ibm-wsrt-py37main-ma | 2 KB      | ##################################### | 100%
openssl-1.1.1j       | 2.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Done installing.

In [5]:
## TESTING IMPORT CENSUS DATA AND MAPPING PACKAGES
! conda install -c plotly plotly-geo

import plotly.figure_factory as ff

scope = ['Oregon']
df_sample = pd.read_csv(
    'https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv'
)
df_sample_r = df_sample[df_sample['STNAME'].isin(scope)]

values = df_sample_r['TOT_POP'].tolist()
fips = df_sample_r['FIPS'].tolist()

colorscale = ["#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f",
              "#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f",
              "#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f"]

fig = ff.create_choropleth(
    fips=fips, values=values, scope=scope,
    colorscale=colorscale, round_legend_values=True,
    simplify_county=0, simplify_state=0,
    county_outline={'color': 'rgb(15, 15, 55)', 'width': 0.5},
    state_outline={'width': 1},
    legend_title='pop. per county',
    title='Oregon'
)

fig.layout.template = None
fig.show()

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

ImportError: geopandas, pyshp and shapely must be installed for this figure factory.

Run the following commands to install the correct versions of the following modules:

```
$ pip install geopandas==0.3.0
$ pip install pyshp==1.2.10
$ pip install shapely==1.6.3
```
If you are using Windows, follow this post to properly install geopandas and dependencies:http://geoffboeing.com/2014/09/using-geopandas-windows/

If you are using Anaconda, do not use PIP to install the packages above. Instead use conda to install them:

```
$ conda install plotly
$ conda install geopandas
```

In [ ]:
# @hidden_cell

CLIENT_ID = 'BCLLIS3FHZXMBORMFLCQMYFH1YDVZVO0F2BMJ4KONFEAZ021' # your Foursquare ID
CLIENT_SECRET = 'ZYUFKQJASGY1DKGUDNMJJH0FJFSV11NPAS22IFXIHS5OPD5F' # your Foursquare Secret
##code SQV35FLC2CIZWHSASCFI4MXNKDJC1MAT5DX3IDLJJMMT3BRN
ACCESS_TOKEN = 'WDVVTN0TFM1FIZRC2BJOLJYYVQJ2PJVWJ22HFU1BOFCHJ4HZ' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 30
print('Foursquare API credentials submitted via hidden cell')

In [297]:
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

search_query = 'Walgreens'
radius = 1200
print(search_query + ' .... OK!')

NameError: name 'geolocator' is not defined

In [296]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
url

NameError: name 'latitude' is not defined